html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../images/waves.svg');
    background-repeat: no-repeat;
    margin: 0;
}

body div#first-part, body div#second-part {
    scroll-snap-align: center;
}

h2#arrowtext {
    text-align: center;
    position: relative;
    top: 80px;
}

@keyframes arrowupdown {
    0% {top:90px;}
    10% {top:100px;}
    100% {top:90px;}
}

img#arrow {
    width: 60px;
    transform: rotate(90deg);
    display: block;
    margin: 0 auto;
}

div#arrowcontainer {
    top: 90px;
    margin: 0;
    padding: 0;
    position: relative;
    animation-name: arrowupdown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

.under-waves {
    margin: 0;
    background-color: #5A65E1;
    position: absolute;
    top: 1080px;
    width: 100%;
    height: fit-content;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: left;
    flex-basis: 500px;
    height: 250px;
    flex: 0 1 600px;
}

span.catchphrase {
    margin: 0;
}

nav {
    display: flex;
    margin-top: 60px;
}

nav a {
    background-color:rgb(98, 109, 227);
    white-space: nowrap;
    align-self: flex-start;
    padding: 15px 35px;
    border-radius: 25px;
    margin-right: 30px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    box-sizing: border-box;
    text-align: center;
    width: 134px;
}

nav a:hover {
    background-color: rgb(138, 145, 229);
}
.profil {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex: 0 1 300px;
    position: relative;
    cursor: pointer;
}

.profil:hover {
    color:rgb(98, 109, 227);
}

/*

.profil:hover #profil-dropdown {
    z-index: 1;
    display: block;
}
*/

#profil-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    white-space: nowrap;
    text-align: center;
    width: 70%;
}

#profil-dropdown a {
    display: block;
    padding: 6px 12px;
    background-color: rgb(222, 222, 222);
    text-decoration: none;
    color: black;
    border-radius: 0px;
    min-width: 150px;
    width: 100%;
}

nav #profil-dropdown a:hover {
    background-color:  rgb(186, 185, 185);
}

nav .profil .profil-mail, nav .profil .profil-icon {
    flex: 1 1 230px;
    margin-right: 10px;
    text-align: center;
}

nav .profil-icon img {
    width: 40px;
}

.presentation-text {
    color: white;
    padding-left: 250px;
    text-align: justify;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.presentation-text h2 {
    font-size: 35px;
    font-weight: 900;
}

.presentation-text p {
    font-weight: 600;
    line-height: 2;
    font-size: 21px;
}

.image {
    margin-left: 190px;
}

.presentation-text img {
    width:200px
}

footer {
    margin-top: 300px;
}

@media only screen and (max-width: 480px) {
    html {
        scroll-behavior: smooth;
        scroll-snap-type:none;
    }

    body {
        width: fit-content;
    }

    h1 {
        font-size: 48px;
        font-weight: 900;
        text-align: center;
        flex-basis: 500px;
        height: 250px;
        flex: 0 1 600px;
    }

    nav {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: space-around;
    }

    nav a {
        margin: 0;
    }

    h2#arrowtext {
        display: none;
    }
    div#arrowcontainer {
        display: none;
    }

    #jumparrow {
        padding: 0;
        display: block;
    }

    .under-waves {
        top: 950px;
    }

    .text {
        display: block;
        text-align: justify;
        padding: 0px 30px;
    }

    .text h2 {
        font-size: 33px;
    }

    .text p {
        font-size: 17px;
    }

    footer {
        margin-top: 40px;
    }

    .image {
        margin: 0;
    }

    .image img {
        margin-left: 30%;
    }
}