* {
    font-family: Arial, Helvetica, sans-serif;
}

#logo a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

#logo {
    margin-left: 20px;
    display: inline-block;
}

div.profil {
    float: right;
}

div.file {
    border-bottom: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#column-description ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#column-description li {
    font-weight: bold;
}

#file-space {
    width: 75%;
}

.actions a img {
    width: 30px;
}