* {
    font-family: Arial, Helvetica, sans-serif;
}

#logo a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

#logo {
    margin-left: 20px;
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    flex: 0 0 250px;
}

header h2 {
    flex: 0 1 60%;
}

.profil {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex: 0 1 300px;
    position: relative;
}

.profil:hover {
    color:rgb(98, 109, 227);
}

.profil-mail {
    flex: 1 1 230px;
    margin-right: 10px;
    text-align: center;
}

.profil-icon {
    text-align: center;
}

.profil-icon img {
    width: 40px;
}

.profil:hover #profil-dropdown {
    z-index: 1;
    display: block;
}

#profil-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    white-space: nowrap;
    text-align: center;
    width: 70%;
}

#profil-dropdown a {
    display: block;
    padding: 6px 12px;
    background-color: rgb(222, 222, 222);
    text-decoration: none;
    color: black;
}

#file-space{
    overflow: scroll;
    height: 600px;
}

div.file {
    border-bottom: solid 1px lightgray;
    display: flex;
}

#column-description {
    display: flex;
    border-bottom: solid 1px grey;
    position: sticky;
    background-color: white;
    top: 0;
}

#column-description div {
    font-weight: bold;
}

#column-description > div, .file > div {
    height: 48px;
}

.actions a img {
    width: 23px;
}

.file-name {
    flex: 1 1 400px;
    text-align: left;
}

.file-lastmodified {
    flex: 0 0 300px;
}

.file-size {
    flex: 0 1 300px;
    white-space: nowrap;
}

.actions {
    flex: 0 1 300px;
}

.file-name, .file-lastmodified, .file-size, .actions {
    display: flex;
    align-items: center;
}

.nofiles {
    text-align: center;
    font-size: 30px;
    color: grey;
}

.action-button {
    flex: 0 1 50px;
}

.action-button img {
    cursor: pointer;
}

#upload-button {
    display: flex;
    margin: 20px 0px;
}

#upload-button {
    background-color:rgb(98, 109, 227);
    padding: 15px 35px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

#upload-button img {
    width: 18px;
    margin-right: 10px;
}

#upload-button:hover {
    background-color: rgb(138, 145, 229);
}

@media only screen and (min-width: 480px) and (max-width: 780px)
{
    h2 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    h2 {
        display: none;
    }

    .profil {
        display: none;
    }

    .file-name {
        flex: 0 1 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-name a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .file-lastmodified {
        display: none;
    }

    .file-size {
        flex-basis: 30%;
        flex-grow: 1;
    }

    .actions {
        flex: 0 0 20%;
        justify-content: flex-end;
    }
}