* {
    font-family: Arial, Helvetica, sans-serif;
}

#logo a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

#logo {
    margin-left: 20px;
    display: inline-block;
}

#file-space{
    overflow: scroll;
    height: 600px;
}

div.file {
    border-bottom: solid 1px lightgray;
    display: flex;
}

#column-description {
    display: flex;
    border-bottom: solid 1px grey;
    position: sticky;
    background-color: white;
    top: 0;
}

#column-description div {
    font-weight: bold;
}

#column-description > div, .file > div {
    height: 48px;
}

.actions a img {
    width: 23px;
}

.file-name {
    flex: 0 1 600px;
    text-align: left;
}

.file-lastmodified {
    flex: 0 0 300px;
}

.file-size {
    flex: 0 0 300px;
}

.actions {
    flex: 0 1 300px;
}

.file-name, .file-lastmodified, .file-size, .actions {
    display: flex;
    align-items: center;
}

.nofiles {
    text-align: center;
    font-size: 30px;
    color: grey;
}

.action-button {
    flex: 0 1 50px;
}

.action-button img {
    cursor: pointer;
}

#upload-button {
    display: flex;
    margin: 20px 0px;
}

#upload-button {
    background-color:rgb(98, 109, 227);
    padding: 15px 35px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

#upload-button img {
    width: 18px;
    margin-right: 10px;
}

#upload-button:hover {
    background-color: rgb(138, 145, 229);
}